body {
   margin: auto;
    background-image: url("../http://photos.google.com/album/AF1QipOkAsYAWBmyA4Hjc0VRbQBvQheqcNZZ5CyPi4HC/photo/AF1QipPMU3Q5UITMeQAzdcLhWUVls8aU1oVHFUnrduq2");
 /*  background-repeat:no-repeat;
background-position: center center, center top;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover; */

}
nav ul, footer ul {
    font-family:'Helvetica', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 25px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 500%;
    font-family:'Helvetica', 'Sans-Serif';
    margin-top: 100px;
}
p {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
  clear: both;
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

/*ul.posts {
    text-align: left;
    margin: 20px auto 40px;
    font-size: 1.5em;
}*/

/*ul.posts li {
    list-style: none;
}*/

